.row{
    padding: 0 !important;
}
.dialog-block{
    border: 1px solid rgb(185, 185, 185);
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}
.file-item-img-small{
    border:2px solid #4CAF50;
    width: 40px;
    height: 40px;
}
.files-block--left{
    height: 450px;
    overflow-y: scroll;
    padding: 0 ;
}

.files-block--right{
    background-color: rgb(235, 235, 235);
}

.file-item-img{
    margin: auto;
    /* border: 1px solid blue; */
    width: 100%;  /* Or whatever */
    height: 100%; /* Or whatever */
    border: 1px solid rgb(231, 231, 231);
    padding: 0 !important;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .wrap-reverse         { 
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }  
  .wrap-reverse li {
    background: deepskyblue;
  }
  
  .flex-item {
    padding: 5px;
    width: 120px;
    height: 120px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.file-detail{
    height: 70px;
    widows: 70px;
}

.file-detail-left{
    margin: auto;
    /* border: 1px solid blue; */
    height: 60px; /* Or whatever */
    width: 60px;
}
.file-detail-right--but{
    font-size: 12px;
    margin: 0px !important;
}

.file-detail-right{
    font-size: 12px;
    margin: 0px !important;
    white-space: nowrap; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.file-detail-right:hover {
    overflow: visible;
}

.pull-right{
    float: right !important;
}

.checkmark {
    font-family: arial;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
  }

  
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    font-size: small;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 25px 2px 2px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }